/* Add CSS Styling */
.odd-element {
    background-color: rgb(255, 100, 100);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
#number-2 {
    color: hsl(200, 50%, 50%);
    font-size: 36px;
}
.threes {
    font-size: 24px;
}
#number-4 {
    background-color: #99DD99;
    font-size: 24px;
    font-weight: bold;
}